{{#> layout }}
<p class='breadcumb'>
  <a href='/project'>Projects</a> >
  <a href='/project/{{project.id}}'>{{project.name}}</a>
</p>
<h1 class='app__title'>{{project.id}} - {{project.name}}</h1>
<table class='table-list box'>
  <thead class='table-list__header'>
    <th>
      Ticket-ID
    </th>
    <th>
      Type
    </th>
    <th>
      Summary
    </th>
    <th>
      Project
    </th>
  </thead>
  <tbody class='table-list__body'>
    {{#each tickets}}
      <tr class='table-list__element'>
        <td><a
            href='/ticket/{{project.id}}/{{id}}'
          >{{project.id}}-{{id}}</a></td>
        <td>{{type}}</td>
        <td>{{summary}}</td>
        <td>{{project.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{/layout}}
