{{#> layout js='pages/ticket/view.js'}}
<p class='breadcumb'>
  <a href='/project'>Projects</a> >
  <a href='/project/{{project.id}}'>{{project.name}}</a> >
  <a href='/ticket/{{project.id}}/{{ticket.id}}'>{{project.id}}-{{ticket.id}}</a>
</p>
<h1 class='app__title'>{{ticket.summary}}</h1>
<div class='action-bar' id='actionbar'>
  <span id='transition-buttons'>
    {{#each possibleTransitions}}
    <button class='button js-transition-button' data-status='{{target}}'>{{name}}</button>
    {{/each}}
  </span>
</div>
<div class='box ticket-fields'>
  <section class='ticket-field'>
    <h2 class='ticket-field__title'>Status</h2>
    <p class='ticket-field__value'>
      <span class='badge badge-status-{{ticket.status.type}}' id='status'>{{ticket.status.name}}</span>
    </p>
  </section>
  <section class='ticket-field'>
    <h2 class='ticket-field__title'>Type</h2>
    <p class='ticket-field__value'>
      {{ticket.type.name}}
    </p>
  </section>
  {{#each schema}}
  <section class='ticket-field'>
    <h2 class='ticket-field__title'>{{name}}</h2>
    <p class='ticket-field__value'>{{lookup @root.ticket.fields id}}</p>
  </section>
  {{/each}}
</div>
{{/layout}}
