<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TickIt</title>
</head>
<body>
    <main>
        <ul>
            {{#each tickets}}
            <li>
                <a href="/ticket/{{project}}/{{id}}">{{project}}-{{id}}</a> {{summary}}
            </li>
            {{/each}}
        </ul>
    </main>
</body>
</html>
